.product {
  padding: vw(45) 0;
  padding-top: vw(90);
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: vw(50);

  height: vw(750);
}

.product__card {
  position: relative;
  padding: vw(40);
  padding-bottom: vw(126);
  background: var(--color-card);
  border-radius: vw((15));

  &:nth-child(1) {
    padding-bottom: vw(130);
    grid-column: 1/3;

    .product__btn {
      padding: vw(16) vw(28);
      color: var(--color-text);
    }
  }
}

.product__btn {
  position: absolute;
  left: vw(40);
  bottom: vw(40);
}