block aboutVars 
  - var aboutUpHeading = 'о нас';
  - var aboutHeading = 'Карманный помощник';
  - var aboutDesc = 'Наш бот - нейросеть или же искусственный интеллект, нами было обработано кучу данных. Мы помогаем вам сделать ставку. Винрейт наших ботов более 80%.';




section.about#about
  .container.about__container 
    .about__title 
      span.about__up-heading.up-heading #{aboutUpHeading}
      h2.about__heading.heading #{aboutHeading}
    p.about__desc.desc #{aboutDesc}