block heroVars 
  - var heroHeading = '';
  - var heroDesc = '';
  - var heroBtn = '';




section.hero
  .swiper-container
    .swiper
      .swiper-wrapper 
        .swiper-slide
        .swiper-slide
        .swiper-slide
      .swiper-pagination
