extends ./pug/_base

block content

  include ./pug/components/_popups
  include ./pug/components/_header
  include ./pug/components/_hero
  include ./pug/components/_product
  include ./pug/components/_aboutus
  include ./pug/components/_faq
  include ./pug/components/_footer

  include ./pug/components/_js